.quiz-main {

}
.quiz-layout-table {
    border: none !important;
    margin:0px auto !important;
    
    background: none !important;
    padding: 0px !important;
    vertical-align: top !important;
    width: auto !important;
}
.quiz-layout-table tr {
    border: none !important;
    margin:0px !important;
    background: none !important;
    padding: 0px !important;
    vertical-align: top !important;
}
.quiz-layout-table td {
    border: none !important;
    margin:0px !important;
    background: none !important;
    padding: 0px !important;
    vertical-align: top !important;
}
.quiz-container {
    padding: 10px;
}
.quiz-container .fieldlabel {
    
}
.clear {
    clear: both;
    height: 1px;
}
.message-success , .message-error , .message-notice, .message-warning
{
    font-size:0.95em;
    font-weight:bold;
    margin-bottom:11px;
    min-height:23px;
    padding:8px 8px 2px 32px;
    margin-left: 10px;
}
.message-success
{
   background:#EFF5EA url(../images/success_msg_icon.gif) no-repeat scroll 10px 10px;
   border:1px solid #95A486;
   color:#3D6611;
}
.message-error
{
   background:#FAEBE7 url(../images/error_msg_icon.gif) no-repeat scroll 10px 10px;
   border:1px solid #F16048;
   color:#DF280A;
}
.message-notice
{
   background:#FFFBF0 url(../images/note_msg_icon.gif) no-repeat scroll 10px 10px;
   border:1px solid #FFD967;
   color:#3D6611;
}
.message-warning
{
    background:#E6E6E6 url(../images/warning_msg_icon.gif) no-repeat scroll 10px 10px;
    border:1px solid #666E73;
    color:#000000;
}
.loading
{
   background: #FFFFD5 url(../images/loading.gif) no-repeat scroll 0px 0px;
  font-size:0.95em;
  font-weight:bold;
  margin-bottom:11px;
  min-height:23px;
  padding:2px 2px 2px 18px;
}
/* ----------- ucan_stylized ----------- */
.stylizedform h1 {
font-size:14px;
font-weight:bold;
margin-bottom:8px;
}
.stylizedform p {
font-size:11px;
color:#666666;
margin-bottom:20px;

padding-bottom:10px;
}
.stylizedform label {
display:block;
font-weight:bold;
text-align:left;
margin:10px 0 0 0;
cursor:default;
}
.stylizedform .small, .small {
color:#666666;
display:block;
font-size:11px;
font-weight:normal;
text-align:left;
}
.stylizedform input.text {
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:500px;
margin:2px 0 20px 0;
}
.stylizedform textarea {
font-size:12px;
padding:4px 2px;
min-width:80% !important;
border:solid 1px #aacfe4;
margin:2px 0 20px 0;
}
.theEditor {
height:300px !important;
}
.stylizedform a.thickbox {
margin-left:5px !important;
margin-right:5px !important;
}
.stylizedform select {
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
margin:2px 0 20px 0;
}
.stylizedform button {
width:125px;
height:31px;
background:#666666;
text-align:center;
line-height:31px;
color:#FFFFFF;
font-size:11px;
font-weight:bold;
}
.quiz-result-unit{
    overflow:auto;
}
.quiz-result-unit-section {
    font-weight: bold;
    margin-bottom: 10px;
}
.quiz-result-unit-response {
    margin: 10px;
}
.quiz-container-optin .question-form-container {
    margin: 0px auto;
    width: 190px;
}
.entry-title {
    text-align: center;
}
.quiz-share-links {
    line-height: 1;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.quiz-share-link-twitter, .quiz-share-link-like, .quiz-share-link-share {
    float: left;
}
.quiz-share-link-share {
    padding-right: 18px;
    text-align: left;
}
.quiz-container .intro-content, .quiz-container .section-content ,.quiz-container .question-content, .quiz-container .optin-content, .quiz-container .thankyou-content{
    text-align: center;
}
.quiz-container-intro .question-form-container .formsubmit , .quiz-container-section .question-form-container .formsubmit {
    text-align:center;
}